version: "3.8"

services:

  db:
    image: mysql:8.0
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: railway
    ports:
      - "3307:3306"

  app:
    build: .
    container_name: springboot-container
    depends_on:
      - db
    ports:
      - "9090:9090"
    environment:
      SPRING_PROFILES_ACTIVE: docker
